@import "node_modules/@bbva-web-components/bbva-foundations-sass/main";

:host {
  display: block;
  box-sizing: border-box;
  background-color: #106ebd;
  padding: 10px;
}

:host([hidden]), [hidden] {
  display: none !important;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h3{
  color: white;
}

.products{
  background-color: #f7f2f7;
  margin-bottom: 10px;
  padding: 10px 20px;
  & img{
    position: relative;
    top: 10px;
    margin-right: 5px;
  }
  & .infoProduct {
    & label{
      font-weight: 500;
    }
    & span{
      font-size: 15px;
    }
  }
  
}